---
import Card from "../components/Card.astro"
import Table from "../components/Table.astro"
import TextH3 from "../components/TextH3.astro"
import MainLayout from "../layout/MainLayout.astro"



---

<MainLayout>
  <div class="container mx-auto">
    <TextH3>your favorite flats</TextH3>
    <button class="text-sm cursor-pointer mb-4 text-blue-600" id="show-grid">show grid</button>
    <div >
      <table class="table-auto border-separate border-spacing-2 border border-slate-500 bg-indigo-700 rounded-lg w-full table-index" id="table-index">
        <thead>
            <tr class="text-center">
              <th class="border border-slate-600 bg-white rounded-lg px-2">City</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Street Name</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Street Number</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Area size</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Has AC?</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Year Built?</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Rent Price</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Date Available</th>
              <th class="border border-slate-600 bg-white rounded-lg px-2">Favorite</th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
    </table>
    </div>
  </div>
  <div class="hidden grid-cols-3 gap-4 container mx-auto mt-10" id="grid">
    <div class="border-2 border-indigo-700 rounded-xl p-4">
      <img src="/images/ejemplo.jpg" alt="casa ejemplo" class="rounded-xl">
      <div class="flex flex-col my-4">
        <p class="text-indigo-700 font-bold text-xl">City: <span  class="text-black font-normal">Barcelona</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street: <span  class="text-black font-normal">Diagonal</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street Number: <span  class="text-black font-normal">123</span></p>
        <p class="text-indigo-700 font-bold text-xl">Area size: <span  class="text-black font-normal">100</span></p>
        <p class="text-indigo-700 font-bold text-xl">Has AC: <span  class="text-black font-normal">Yes</span></p>
        <p class="text-indigo-700 font-bold text-xl">Year Built: <span  class="text-black font-normal">1990</span></p>
        <p class="text-indigo-700 font-bold text-xl">Rent Price: <span  class="text-black font-normal">1000</span></p>
        <p class="text-indigo-700 font-bold text-xl">Date Available: <span  class="text-black font-normal">2022-10-10</span></p>
        
        <div class="flex items-center justify-center mt-10">
          <button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50">Read More</button>
        </div>
      </div>
    </div>
    <div class="border-2 border-indigo-700 rounded-xl p-4">
      <img src="/images/ejemplo.jpg" alt="casa ejemplo" class="rounded-xl">
      <div class="flex flex-col my-4">
        <p class="text-indigo-700 font-bold text-xl">City: <span  class="text-black font-normal">Barcelona</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street: <span  class="text-black font-normal">Diagonal</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street Number: <span  class="text-black font-normal">123</span></p>
        <p class="text-indigo-700 font-bold text-xl">Area size: <span  class="text-black font-normal">100</span></p>
        <p class="text-indigo-700 font-bold text-xl">Has AC: <span  class="text-black font-normal">Yes</span></p>
        <p class="text-indigo-700 font-bold text-xl">Year Built: <span  class="text-black font-normal">1990</span></p>
        <p class="text-indigo-700 font-bold text-xl">Rent Price: <span  class="text-black font-normal">1000</span></p>
        <p class="text-indigo-700 font-bold text-xl">Date Available: <span  class="text-black font-normal">2022-10-10</span></p>
        
        <div class="flex items-center justify-center mt-10">
          <button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50">Read More</button>
        </div>
      </div>
    </div>
    <div class="border-2 border-indigo-700 rounded-xl p-4">
      <img src="/images/ejemplo.jpg" alt="casa ejemplo" class="rounded-xl">
      <div class="flex flex-col my-4">
        <p class="text-indigo-700 font-bold text-xl">City: <span  class="text-black font-normal">Barcelona</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street: <span  class="text-black font-normal">Diagonal</span></p>
        <p class="text-indigo-700 font-bold text-xl">Street Number: <span  class="text-black font-normal">123</span></p>
        <p class="text-indigo-700 font-bold text-xl">Area size: <span  class="text-black font-normal">100</span></p>
        <p class="text-indigo-700 font-bold text-xl">Has AC: <span  class="text-black font-normal">Yes</span></p>
        <p class="text-indigo-700 font-bold text-xl">Year Built: <span  class="text-black font-normal">1990</span></p>
        <p class="text-indigo-700 font-bold text-xl">Rent Price: <span  class="text-black font-normal">1000</span></p>
        <p class="text-indigo-700 font-bold text-xl">Date Available: <span  class="text-black font-normal">2022-10-10</span></p>
        
        <div class="flex items-center justify-center mt-10">
          <button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50">Read More</button>
        </div>
      </div>
    </div>
    <Card />
  </div>
</MainLayout>
<script src="../index.js"></script>


<script>
  document.addEventListener('astro:page-load', ()=> {

    const card = document.getElementById('card-component');
    const showGrid = document.getElementById('show-grid');
    const grid = document.getElementById('grid');
    const table = document.getElementById('table-index');

    showGrid.addEventListener('click', () => {
      grid.classList.toggle('hidden');
      grid.classList.toggle('grid');
      table.classList.toggle('hidden');
      showGrid.textContent = grid.classList.contains('hidden') ? 'show grid' : 'show table';
    });

    const fillTable = () =>{
    const user_logged= JSON.parse(localStorage.getItem('currentUser'));
    const favorites = JSON.parse(localStorage.getItem('flats_favorites'));
    const flats = JSON.parse(localStorage.getItem('flats'));
    const tbody = document.querySelector('#table-index tbody');
    tbody.innerHTML = '';
    
    if (favorites && Array.isArray(favorites)){ 
      const filtered = favorites.filter((item)=>{
          return  item.emailUser === user_logged.email
      
      })
      const flatsTable = filtered.map( (item)=>{
          const id = item.idFlat;
          return flats.find((flat)=> {
              return flat.id === id
          })
      })
      if (flatsTable!= null && Array.isArray(flatsTable)) {
        flatsTable.forEach((flat)=>{
          const tr = document.createElement('tr');
          tr.innerHTML = '' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.city + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.streetName + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.streetNumber + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.hasAc + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.areaSize + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.price + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.dateAvailable + '</td>' +
            '<td class="border border-slate-600 bg-white rounded-lg px-2">' + flat.yearBuilt + '</td>' 
        
          const tdRemove = document.createElement('td');
          tdRemove.classList.add('border','border-slate-600','bg-white','rounded-lg','px-2');
          console.log(tdRemove)
          const button = document.createElement('button');
          
          button.classList.add('p-2','bg-indigo-700','border-2','border-transparent','text-white','hover:bg-white','hover:text-indigo-700','hover:border-indigo-700','rounded-lg','transition','duration-300', 'w-full');
          button.innerText = 'Remove';
          button.onclick = () => addFavorite(flat.id);
          
          tdRemove.appendChild(button);

          tr.appendChild(tdRemove);

          tbody.appendChild(tr);
        });
      }
            
        
    }
    
    function addFavorite(id){
        const favorites = JSON.parse(localStorage.getItem('flats_favorites'));
        const index = favorites.findIndex((item)=>{
            return item.idFlat === id
        })
        favorites.splice(index,1);
        localStorage.setItem('flats_favorites',JSON.stringify(favorites));
        fillTable();
    }
    
    
  }
    fillTable();
  })
  
  
</script>