---
import TextH3 from "../components/TextH3.astro"
import MainLayout from "../layout/MainLayout.astro"
---

<MainLayout>
  <div class="flex items-center flex-col w-[100%]">
    <TextH3>It's nice to see you here!</TextH3>
    <form id="login-form" class="flex flex-col mt-10 p-10 border-2 border-indigo-700 rounded-3xl bg-white">
      <div class="flex justify-between mb-4">
        <label for="">Email</label>
        <input required type="text" name="email" class="ml-4 w-[200px] border border-gray-400 rounded-lg px-2">
      </div>
      <div class="flex justify-between mb-4">
        <label for="">Contraseña</label>
        <input required type="password" name="password" autocomplete="on" class="ml-4 w-[200px] border border-gray-400 rounded-lg px-2">
      </div>
      <p class="text-red-400 text-sm hidden" id="message">Invalid email or password</p>
      <div class="flex items-center justify-center mt-10">
        <button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50 w-full" type="submit">Log In</button>
    </div>
    </form>
    <p class="text-sm text-right mt-6 dark:text-white">don't have an account? <span class="text-indigo-300 underline"><a href="/register">Register here</a></span></p>
    <p class="text-sm text-right mt-6 dark:text-white">Forgot password? <span class="text-indigo-300 underline"><a href="/recovery">Click here</a></span></p>
  </div>
</MainLayout>


<script is:inline>
  document.addEventListener('astro:page-load', () => {
    console.log("Login page loaded");
    const formLogin = document.getElementById('login-form')
    formLogin.addEventListener('submit', (e) => {
      e.preventDefault()
      const users = JSON.parse(localStorage.getItem('users'))
      
      if (users !== null) {
        const user = users.find(user => user.email === formLogin.elements['email'].value && user.password === formLogin.elements['password'].value);
        console.log(user)
        if (user) {
          console.log("Login successful");
          // Redirect to the homepage or another page
          window.location.href = '/';
          localStorage.setItem('currentUser', JSON.stringify(user));
        } else {
          const message = document.getElementById('message')
          message.classList.remove('hidden')
          formLogin.reset()
        }
      } else {
        console.log("No users found");
        const message = document.getElementById('message')
        message.classList.remove('hidden')
        formLogin.reset()
      }
      
    })
  })
</script>s