---
import TextH3 from "../components/TextH3.astro";
import MainLayout from "../layout/MainLayout.astro";


---

<MainLayout title="Recover Passsword">
    <div class=" flex items-center flex-col w-[100%] overflow-x-hidden" id="container-newflat">
        <TextH3>Recover password</TextH3>
        <form id="recovery-form" class="flex flex-col mt-4 p-10 border-2 border-indigo-700 rounded-3xl dark:bg-indigo-700 dark:text-white dark:border-white">
            <div class="flex justify-between mb-4">
                <label for="email" >Enter your email</label>
                <input required type="text" id="email" name="email" class="ml-4 w-[200px] border border-gray-400 rounded-lg px-2">
            </div>
            <div class="flex items-center justify-center mt-10">
                <button id="btn" class="p-4 w-full bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50 dark:bg-white dark:text-indigo-700 dark:shadow-white/50 dark:hover:bg-indigo-700 dark:hover:border-white dark:hover:text-white" type="submit">Send new password</button>
            </div>
        </form>
    </div>
</MainLayout>

<script is:inline type="module">
    document.addEventListener('astro:page-load', () => {
        
        
        const form = document.getElementById('recovery-form')
        form.addEventListener('submit', (e) => {
            e.preventDefault()

            const date = new Date()
            const newPassword = `${date.getTime()}`
            const emailRecovery = form.elements['email'].value
            const messageRecovery = `Your new password is: ${newPassword}`
            const users = JSON.parse(localStorage.getItem('users'))
            const user = users.find(user => user.email === emailRecovery)
            console.log(user)
            if(user === undefined){
                alert('User not found')
                form.reset()
                return
            } else {
                user.password = newPassword
                localStorage.setItem('users', JSON.stringify(users))
                form.reset();
                emailjs.send("service_2qovrr6","template_o2w4456",{
                    to_name: user.name,
                    from_name: user.email,
                    message: messageRecovery,
                });
                window.location.href = '/login'
            }
            
        
        })
        
            
        
    })
</script>