---

---

<div class="border-2 border-indigo-700 rounded-xl p-4" id="card-component">
  <img src="/images/ejemplo.jpg" alt="casa ejemplo" class="rounded-xl">
  <div class="flex flex-col my-4">
    <p class="text-indigo-700 font-bold text-xl">City: <span  class="text-black font-normal">Barcelona</span></p>
    <p class="text-indigo-700 font-bold text-xl">Street: <span  class="text-black font-normal">Diagonal</span></p>
    <p class="text-indigo-700 font-bold text-xl">Street Number: <span  class="text-black font-normal">123</span></p>
    <p class="text-indigo-700 font-bold text-xl">Area size: <span  class="text-black font-normal">100</span></p>
    <p class="text-indigo-700 font-bold text-xl">Has AC: <span  class="text-black font-normal">Yes</span></p>
    <p class="text-indigo-700 font-bold text-xl">Year Built: <span  class="text-black font-normal">1990</span></p>
    <p class="text-indigo-700 font-bold text-xl">Rent Price: <span  class="text-black font-normal">1000</span></p>
    <p class="text-indigo-700 font-bold text-xl">Date Available: <span  class="text-black font-normal">2022-10-10</span></p>
    
    <div class="flex items-center justify-center mt-10">
      <button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300 shadow-lg shadow-indigo-500/50">Read More</button>
    </div>
  </div>
</div>
<button class="p-4 bg-indigo-700 border-2 border-transparent text-white hover:bg-white hover:text-indigo-700 hover:border-indigo-700 rounded-xl transition duration-300">Read More</button>