---

---

<table class="table-auto border-separate border-spacing-2 border border-slate-500 bg-indigo-700 rounded-lg w-full table-index" id="table">
    <thead>
        <tr class="text-center">
          <th class="border border-slate-600 bg-white rounded-lg px-2">City</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Street Name</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Street Number</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Area size</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Has AC?</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Year Built?</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Rent Price</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Date Available</th>
          <th class="border border-slate-600 bg-white rounded-lg px-2">Favorite</th>
        </tr>
      </thead>
      <tbody>
        
      </tbody>
</table>