---
import { ViewTransitions } from 'astro:transitions';
const links = [
    {name: 'Home', href: '/'},
    {name: 'All Flats', href: '/allflats'},
    {name: 'New Flat', href: '/newflat'},
]

const currentPath = Astro.url.pathname
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="RentaHogar is a web app to rent flats"/>
        <link rel="shortcut icon" href="/images/home.svg" type="image/x-icon">
		<title>{title}</title>
        <script is:inline type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
        <script is:inline type="text/javascript">
        (function(){
            emailjs.init({
                publicKey: "OQBGTY9LPLMqQHd2o",
            });
        })();
        </script>
        <ViewTransitions />
	</head>
	<body class="bg-slate-100/50 dark:bg-slate-800 relative">
        <header class="bg-indigo-700">
            <div class="flex container justify-between items-center mx-auto h-20  p-2">
                <div class="flex gap-4 items-center justify-center">
                    <div class="">
                        <a href="/">
                            <img src="/images/3d-house.png" alt="Astro" class="w-[40px] h-[40px]"/>
                        </a>
                    </div>
                    <div>
                        <a href="/"><h2 class="text-white">RentaHogar</h2></a>
                    </div>
                </div>
                <div class="max-md:hidden">
                    <nav>
                        <ul class="flex gap-8 text-white">
                            {
                                links.map(({name, href}) => (
                                    <li>
                                        <a href={href}>{name}</a>
                                        {
                                            currentPath === href ? (
                                                <div 
                                                    transition:name="menu-line" 
                                                    class="border-b-2 border-white"
                                                />
                                            ) : (
                                                <div 
                                                    class="border-b-2 border-transparent"
                                                />
                                            )
                                        }
                                    </li>
                                    
                                ))
                            }
                            
                        </ul>
                    </nav>
                </div>
                <div class="max-md:hidden relative">
                    <button id="user" class="text-white user-button">Log In</button>
                    <!-- <div id="div-submenu" class="flex flex-col absolute text-white bg-indigo-700 w-full mt-4 border-2 border-white p-2 gap-4">
                        <a href="/profile" class="text-center">Profile</a>
                        <button>Log Out</button>
                    </div> -->
                </div>
                <div class="md:hidden"  id="menu">
                    <button><span><img src="/images/menu.svg" alt="menu" id="menu-icon"></span></button>
                    <div class="hidden" id="navbar">
                        <nav  class="bg-indigo-700 w-[100dvw] h-[90dvh] z-10 absolute top-[5rem] right-0 left-0 mx-auto p-2 flex">
                            <ul class=" text-white text-center text-2xl flex flex-col justify-evenly mx-auto">
                                <li>
                                    <a href="/login" id="user-mobile">Log In</a>
                                </li>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/allflats">All Flats</a>
                                </li>
                                <li>
                                    <a href="/newflat">New Flat</a>
                                </li>
                                <li>
                                    <a href="/profile">Profile</a>
                                </li>
                                <li>
                                    <button id="button-logout">Logout</button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            
        </header>
		<slot />
        
        <footer class="bg-indigo-700 mt-20" id="footer">
            <div class="custom-shape-divider-bottom-1731338900">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="container mx-auto p-4 text-white text-center">
                <p>Made with ❤️ by Emilio</p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../index.js" ></script>
	</body>
</html>

<script src="../index.js"></script>


<style>
    body {
        display: grid; 
        min-height: 100dvh;
        grid-template-rows: auto 1fr auto;
    }

    .login-menu:hover {
        display: flex;
        gap: 8px;
    }
    #id {
        position: relative;
    }
    .custom-shape-divider-bottom-1731338900 {
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1731338900 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 40px;
    }

    .custom-shape-divider-bottom-1731338900 .shape-fill {
        fill: #3F3FC3;
    }
</style>
